.title {
    background-color: #666;
    padding: 30px;
    text-align: center;
    color: white;
}

table {
    width: 100%;
}

.container {
    margin: 0 20%; // margin 0 arriba y abajo y 20% a la izquierda y la derecha
}

td, th {
    width: 15%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.search {
    cursor: pointer;
}

.edit {
    cursor: pointer;
    color: #1878B0;
}

.delete {
    cursor: pointer;
    color: #e15639;
}

.agregar {
    font-size: 13px;
    line-height: 28px;
}
