<div class="title">
    <h1>Ver Mascota</h1>
</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>Mike</mat-card-title>
        <mat-card-content> 
            <p><strong>Edad:</strong> 5 Años</p>
            <p><strong>Raza:</strong> Labrador</p>
            <p><strong>Color:</strong> Negro</p>
            <p><strong>Peso:</strong> 25 Kg</p>
        </mat-card-content>
        <mat-card-actions>
            <button [routerLink]="['/listMascotas']" mat-raised-button>Basic</button>
        </mat-card-actions>
    </mat-card>
</div>
